<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update if required -->
    <add key="targetSiteUrl" value="https://your_tenant.sharepoint.com/" />
    <add key="userName" value="your_user_name@your_tenant.onMicrosoft.com" />
    <add key="password" value="your_password" />
  </appSettings>
</configuration>